name: Docs CI

on:
  push:
    branches: ["main"]
    paths:
      - "docs/**"
      - "*.md"
  pull_request:
    branches: ["main"]
    paths:
      - "docs/**"
      - "*.md"

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Setup conda env
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: devtools/conda-envs/docs_env.yaml
          environment-name: docs
          condarc: |
            channels:
              - uibcdf
              - conda-forge
              - defaults
            channel_priority: strict
          create-args: >-
            python=3.12
          cache-downloads: true

      - name: Info conda
        shell: bash -l {0}
        run: |
          micromamba activate docs
          micromamba info
          micromamba list

      - name: Install package
        shell: bash -l {0}
        run: |
          python -m pip install . --no-deps

      - name: Build docs
        shell: bash -l {0}
        run: |
          make -C docs html
